flask~=1.1.2
twilio~=6.55.0
pyjwt~=1.7.1
pip~=20.2.4
zlib~=1.2.11
wheel~=0.35.1
openssl~=1.1.1h
py~=1.9.0
lxml~=4.6.1
keyring~=21.4.0
typing_extensions~=3.7.4.3
pytz~=2020.1
future~=0.18.2
tqdm~=4.50.2
requests~=2.24.0
dask~=2.30.0
colorama~=0.4.4
ipywidgets~=7.5.1
ipython~=7.19.0
notebook~=6.1.4
yaml~=0.2.5
jinja2~=2.11.2
werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
python-dotenv~=0.16.0
markupsafe~=1.1.1
openai~=0.6.2
pycurl~=7.43.0.6
six~=1.15.0
certifi~=2020.6.20
chardet~=3.0.4
pyngrok~=5.0.5
urllib3~=1.25.11
idna~=2.10
greenlet~=0.4.17
setuptools~=50.3.1
cython~=0.29.21
docutils~=0.16
